@charset "utf-8";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
}

div.container {
  width: 1080px;
  margin: auto;
}

div#logo {
  display: inline-block;
  text-transform: uppercase;
  float: left
}

nav {
  display: inline-block;
  float: right;
}

nav li {
  display: inline-block;
}

div#banner {
  text-align: center;
  clear: both;
}

div#banner h1 {
  text-transform: uppercase;
}

div.content {
  width: 900px;
}

section.post {
  width: 60%;
  float: left;
}

section.post h2 {
  text-transform: uppercase;
}

span#author {
  display: inline-block;
}

div.post-author p {
  display: inline-block;
}

section.sidebar {
  width: 30%;
  float: right;
}

div.social {
  text-align: center;
  margin: auto;
}

div.advertisement a {
  display: block;
  text-align: right;
  text-decoration: underline;
}

div.side-post {
  margin-top: 50px;
}

div.side-post h4 {
  text-transform: uppercase;
}

footer {
  width: 100%;
  text-align: center;
  margin: auto;
  clear: both;
}

footer h2 {
  text-transform: uppercase;
}

div.pop-post-1 {
  display: inline-block;
  width: 250px;
}

div.pop-post-2 {
  display: inline-block;
  width: 250px
}

div.pop-post-3 {
  display: inline-block;
  width: 250px;
}

div.pop-post-4 {
  display: inline-block;
  width: 250px;
}

div.copyright {
  float: left;
}

div.footer-nav {
  float: right;
}

div.footer-nav ul li {
  display: inline-block;
}
