@charset "utf-8";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
}

header {
  height: 500px;
  color: #133C56;
}

div.header-image {
  position: absolute;
  background-image: url('/images/header-waves.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 500px;
  opacity: 0.5;
  z-index: -1;
}

div.filter {
  position: absolute;
  width: 100%;
  height: 500px;
  background-color: #3095D8;
  z-index: -2;
}

div#logo {
  margin-top: 10px;
  margin-left: 125px;
  display: inline-block;
  text-transform: uppercase;
  float: left
}

div#logo img {
  color: #3095d8;
  width: 50px;
}

div#logo span {
  position: relative;
  bottom: 15px;
  left: 5px;
}

nav {
  display: inline-block;
  float: right;
  text-transform: uppercase;
  margin-top: 10px;
  margin-right: 150px;
  font-size: 1.25em;
}

nav li {
  display: inline-block;
}

nav li a {
  text-decoration: none;
  color: #133C56;
}

div#banner {
  padding-top: 125px;
  color: #fff;
  font-size: 2.5em;
  text-align: center;
  clear: both;
}

div#banner h6 {
  margin-top: -50px;
  color: #133C56;
  font-size: 0.40em;
}

div#banner h1 {
  text-transform: uppercase;
}

div.content {
  margin: auto;
  width: 1200px;
}

section.post {
  margin-left: 110px;
  width: 640px;
  float: left;
}

section.post h2 {
  text-transform: uppercase;
  color: #133C56;
  font-size: 2em;
}

div.post-author {
  margin-top: -35px;
}

div.post-author img {
  display: inline-block;
  border-radius: 100%;
  width: 40px;
}

div.post-author a {
  position: relative;
  bottom: 15px;
  display: inline-block;
  text-decoration: none;
  color: #133C56;
}

div.post-author p {
  position: relative;
  bottom: 15px;
  display: inline-block;
}

div.post-body {
  margin-top: -20px;
  line-height: 1.5em;
}

div.post-body p:nth-child(2) {
  font-size: 4.5em;
  color: lightgrey;
  margin-top: 30px;
  margin-bottom: 8px;
}

div.post-body span {
  position: relative;
  font-size: 0.30em;
  text-transform: uppercase;
  color: darkblue;
  bottom: 15px;
}

section.sidebar {
  margin-right: 110px;
  width: 250px;
  float: right;
}

div.social {
  text-align: center;
  margin: auto;
  margin-top: 80px;
}

div.social img {
  border-radius: 100%;
  width: 80px;
}

div.social a {
  text-decoration: none;
  color: lightgrey;
  font-size: 0.8em;
}

a#profile {
  font-size: 1.2em;
  color: #133C56;
  text-transform: uppercase;
  display: block;
}

div.advertisement img {
  margin-top: 50px;
  width: 100%;
}

div.advertisement a {
  color: lightgrey;
  display: block;
  text-align: right;
  text-decoration: underline;
}

div.side-post {
  margin-top: 50px;
}

div.side-post h4 {
  text-transform: uppercase;
  color: #133C56;
}

div.side-post p {
  line-height: 1.5em;
}

div.content h2 {
  margin-bottom: 15px;
  padding-top: 45px;
  text-transform: uppercase;
  clear: both;
  text-align: center;
  color: #133C56;
  font-size: 4.5em;
}

footer {
  width: 100%;
}

div.post-images {
  width: 100%;
  height: 350px;
}

div.pop-post-1 {
  background-size: cover;
  background-image: url('/images/dolphins.jpg');
  display: inline-block;
  height: 100%;
  width: 25%;
  opacity: 0.5;
  margin-right: -4px;
}

div.pop-post-2 {
  background-size: cover;
  background-image: url('/images/dog_surfing.jpeg');
  display: inline-block;
  height: 100%;
  width: 25%;
  opacity: 0.5;
  margin-right: -4px;
}

div.pop-post-3 {
  background-size: cover;
  background-image: url('/images/kayaks.jpg');
  display: inline-block;
  height: 100%;
  width: 25%;
  opacity: 0.5;
  margin-right: -4px;
}

div.pop-post-4 {
  background-size: cover;
  background-image: url('/images/surfboards.jpg');
  display: inline-block;
  height: 100%;
  width: 25%;
  opacity: 0.5;
  margin-right: -4px;
}

div.bottom {
  height: 80px;
  width: 100%;
  background-color: #00476B;
  color: white;
  font-size: 0.85em;
}

div.footer-nav {
  margin-right: 250px;
  padding-top: 25px;
}

div.bottom a {
  text-decoration: none;
  color: white;
  font-size: 0.85em;
}

div.copyright {
  padding-top: 25px;
  margin-left: 225px;
  float: left;
}

footer {
  background-color: #3095d8;
}

div.footer-nav {
  float: right;
}

div.footer-nav ul li {
  display: inline-block;
}
