---
title: Surf and Paddle
---
%header
  .header-image
  .filter
  #logo
    %img{:src => '/images/logo.png', :alt => '#'}
    %span Surf & Paddle Co. Blog

  %nav
    %ul
      %li
        %a{:href => '#'} About
      %li
        %a{:href => '#'} Search

  #banner
    %h1 Surf & Paddle Co.
    %h6 An Ironyard Academy Project Est. Summer 2014


.content
  %section.post
    %h2 A Fantastic Engaging Headline Goes Here
    .post-author
      %img{:src => '/images/annie.jpg', :alt => '#'}
      %a{:href => '#'} Annie Dolphin
      %p on Monday, June 7th 9:22pm
    .post-body
      %p= lorem.paragraph
      %p | <span>"This is a pull quote from the article."</span>
      %p= lorem.paragraph
      %p= lorem.paragraph
    .post-footer
      %span Read Comments
      %span Read Later
      %span Share This Post

  %section.sidebar
    .social
      %img{:src => '/images/annie.jpg', :alt => '#'}
      %a{:href => '#', :id => 'profile'} Annie Dolphin
      %a{:href => '#'} Twitter
      %a{:href => '#'} Facebook
      %a{:href => '#'} Instagram

    .advertisement
      %img{:src => '/images/sidebar.jpeg', :alt => '#'}
      %a About this Ad

    .side-post
      %h4 Sidebar Section Heading
      %p= lorem.paragraph

  %h2 Most Popular Posts

%footer
  .post-images
    .pop-post-1
      %p.footer-title Another Cool Post
    .pop-post-2
      %p.footer-title Post Title
    .pop-post-3
      %p.footer-title Here's Another Longer Post Title
    .pop-post-4
      %p.footer-title Oh Cool A Post!

  .copyright
    %span#tiy-logo
    %p The Ironyard Copyright 2014, All Rights Reserved

  .footer-nav
    %ul
      %li
        %a{:href => '#'} Nav Item 1
      %li
        %a{:href => '#'} Nav Item 2
      %li
        %a{:href => '#'} Nav Item 3
      %li
        %a{:href => '#'} Nav Item 4
